<html>
  <head>
    <style>
      body {
        background: <%= color %>;
      }
    </style>
  </head>
  <body>
    <p>
      <%= if message == 'Nice one! You got it!'
            "Nice one! The secret number was #{guess}. The secret
             number has now been reset"
          else
            "Take a guess between 0 - 4.   " + guess_message
          end
      %>
    </p>
    <form>
      <input type='text' name ='guess' />
      <input type='submit' value = 'Guess!' />
      <br>
      <br>
      <%= message %>
      <br>
      <%= cheat %>
      <% if message == 'Nice one! You got it!' %>
        <br>
          <iframe width="640" height="360" src="https://www.youtube.com/embed/RwkaPU4sV7M?autoplay=1" frameborder="0" allowfullscreen></iframe>
          <img src="http://bestanimations.com/Music/MirrorBalls/disco-ball-room-animation.gif">
      <% end %>
    </form>
  </body>
</html>
